<div class="index-container">
    <figure>
        <img src="/images/beer.png" />
    </figure>
    <div class="buttons">
        <a href="/beers"><button type="button" class="btn btn-primary">Check the Beers!</button> </a>
        <a href="/random-beers"><button type="button" class="btn btn-primary">Check a Random Beer!</button></a>
    </div>
</div>